S = ["a", "b", "c", "d", "e"]
P = ["a", "f", "c", "g", "e"]

print (S)
print (P)

for j in P:
    for i in S:
        if i == j:
            break
    if i != j:
        S.append(j)


print ()
print (S)
print (P)
